.budgets{


    &__wrapper{
        display: flex;
    }
  

    &__budget{
        width: 300px;
        height: 200px;
        background-color: #fff;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
    }

    &__delete{
        cursor: pointer;
        background-color: rgb(221, 36, 36);
        color: #fff;
        border-radius: 5px;
        border: none;
    }
    &__addNew{
        cursor: pointer;
        background-color: rgb(36, 138, 221);
        color: #fff;
        border-radius: 5px;
        border: none;
    }


}