.btn{

        cursor: pointer;
        border: none;     
        border-radius: 5px;

    &--blue{
        background-color: #2352c1;
        color: #fff;
    }
    &--red{
        background-color: rgb(221, 36, 36);
        color: #fff;

    }

}