.dialog[open]{
    display: flex;
    flex-direction: column;
  
}


.dialog{

    border-radius: 5px;
    border: none;
    padding: 20px;
    z-index: 10;

    form{
        display: flex;
        flex-direction: column;

        input{
            border-radius: 5px;
            margin: 5px 0;

          
        }


        


    }

    &__closeBtn{
        width: 30px;
        align-self: end;
    }
    

    &::backdrop{
        display: none;
    }

    &__customBackdrop{
        
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #2c2929d6;
        z-index: 9;
        
    }
    
}

